<mat-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Planes de Estudio</span>
    <span flex></span>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <mat-divider></mat-divider>
    <div layout-gt-sm="row" layout-align="space-around">
      <div flex *ngFor="let grado of plan.grados" >
        <b>{{grado.descripcion}}</b>
        <div layout="column" layout-align="space-around" >
          <div flex *ngFor="let materia of grado.materias" style="padding:10px" >{{materia.descripcion}}</div>
        </div>
      </div>

    </div>
  </mat-card-content>
</mat-card>