<mat-card>
    <mat-card-title>Escuela Normar Rural "Justo Sierra Méndez"</mat-card-title>
    <mat-card-subtitle>Bienvenido(a) al módulo de tutoría.</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content >
      <a (click)="fired()" md-raised-button color="primary" >Fired</a>
      <div layout-gt-xs="row" layout="column">
        <div flex>
          <h3>Mi cuenta</h3>
          <h4>{{nombre}}</h4>
          <h4>{{rolTitulo}}</h4>
        </div>
        
      </div>
  
    </mat-card-content>
  </mat-card>