<mat-card>
  <mat-card-title>Escuela Normar Rural "Justo Sierra Méndez"</mat-card-title>
  <mat-card-subtitle>Bienvenido(a) al módulo de tutoría.</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div layout-align="center" layout="row" layout-gt-sm="column center">
      <div flex-gt-xs=30 flex=100>
        <img [src]="persona._id+'.jpg'" onerror="this.src = 'http://localhost:3000/def.png'">
      </div>
    </div>
    <div layout-align="center" layout="row" layout-gt-sm="column center"> 
      <div flex-gt-xs=30 flex=100>
        <mat-card class="top-max" style="border-radius:20px">
          <mat-card-content class="bgc-blue-grey-400" style="border-radius:20px; color:white;">
            <br>
            <p>Nombre: {{persona.nombre}}</p>
            <p>CURP: {{persona.curp}}</p>
            <p>Correo Electrónico: {{persona.email}}</p>
            <p>Función: {{persona.funcion}}</p>
            <p>Actividad: {{persona.observacion}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>