img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    z-index: 1000;
    display: block;
    position: relative;
    margin: 0 auto 0 auto;
}
.top-max {
    position: relative;
    top: -40px;
}