<div layout="row" layout-align="center">
  <div flex>
    <mat-card>
      <mat-card-content>
        <h2>
          Captura Foto de Perfil:
        </h2>
        <video #hardwareVideo autoplay width="600" height="420"></video>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="capturaFoto()" color="accent">
          <mat-icon>photo_camera</mat-icon> Capturar foto en el perfil</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div flex>
    <mat-card>
      <mat-card-content>
        <h2>
          Imágen capturada:
        </h2>
        <canvas #canvas width="420" height="420"></canvas>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="guardar()">
          <mat-icon>save</mat-icon>Guardar foto</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div layout="row" layout-align="center">
  <!--<button (click)="stopStream()">Detener streaming</button>-->
  <div flex>

  </div>
</div>