<td-layout-manage-list #manageList [opened]="media.registerQuery('gt-sm') | async" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
  [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
  <mat-toolbar td-sidenav-content>
    <span>Tutorías</span>
  </mat-toolbar>
  <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
    <a *ngIf="permisos.TUAS" mat-list-item [routerLink]="['/tutoria/asignacion']">
      <mat-icon matListIcon>compare_arrows</mat-icon>Asignación
    </a>
    <a *ngIf="permisos.TULI" mat-list-item [routerLink]="['/tutoria/tutorados']">
      <mat-icon matListIcon>list</mat-icon>Lista de Tutorados
    </a>
    <a *ngIf="permisos.TUMI" mat-list-item [routerLink]="['/tutoria/mistutorados']">
      <mat-icon matListIcon>list</mat-icon>Mis tutorados
    </a>
    <a mat-list-item [routerLink]="['/tutoria/repositorio']">
      <mat-icon matListIcon>folder</mat-icon>Repositorio
    </a>
  </mat-nav-list>
  <router-outlet></router-outlet>
  <td-layout-footer-inner>
    Optional inner footer
  </td-layout-footer-inner>
</td-layout-manage-list>