<mat-card>
  <mat-card-title>Escuela Normar Rural "Justo Sierra Méndez"</mat-card-title>
  <mat-card-subtitle>Módulo de Tutoría y Evaluación</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div layout-gt-xs="row" layout="column">
      <div flex style="text-align:justify">
        <p>
            <img src="assets/tutorias-01.png" alt="Tutoría." align="left"><b>La tutoría</b> es una modalidad de la actividad docente, que comprende un conjunto sistematizado de acciones educativas
          de carácter académico y personal que brinda el tutor en momentos de duda o cuando la estudiante enfrenta problemas.
          El establecimiento de un Programa Institucional de Tutoría tiene efectos positivos en:
        </p>
        <ol>
          <li>La resolución de problemas de ajuste al proceso de transición de los jóvenes de la educación media superior a la
            superior.
          </li>
          <li>El rendimiento académico no adecuado a raíz del no cubrir en su totalidad con el perfil de ingreso y los requerimientos
            formales de cada curso o asignatura.
          </li>
          <li>La elevación de la eficiencia terminal. </li>
          <li>La formación y desarrollo integral de la estudiante. </li>
          <li>El desarrollo de una adecuada metodología de estudio y de trabajo académico. </li>
          <li>Conocer aspectos de la vida personal del estudiante que influyen directa o indirectamente en su desempeño académico
          </li>
          <li>Ofrecer información académico-administrativa según las necesidades del alumna La tutoría también es una estrategia
            para mejorar la calidad de la educación superior, por lo que es una actividad de suma importancia para cualquier
            institución educativa.
          </li>
        </ol>
      </div>
      <div flex="nogrow" style="width:250px">
        <mat-card>
          <mat-card-title>Acceso</mat-card-title>
          <mat-card-subtitle>Por favor proporciona los datos de acceso</mat-card-subtitle>
          <mat-card-content>
            <mat-form-field>
              <input matInput placeholder="Usuario" required [(ngModel)]="usr" name="usr" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Contraseña" type="password" [(ngModel)]="pass" name="pass" required>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <div layout="row">
              <span flex></span>
              <a mat-raised-button color="primary" fxFlexAlign="end" (click)="login(usr,pass)">Ingresar</a>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </mat-card-content>
</mat-card>