<mat-card>
  <mat-card-title>Escuela Normar Rural "Justo Sierra Méndez"</mat-card-title>
  <mat-card-subtitle>Módulo de Tutoría y Evaluación</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content >
    <div layout-gt-xs="row" layout="column">
      <div flex>
        <h3>El Contenido de la página principal</h3>
      </div>
      <div flex="nogrow" style="width:250px">
        <mat-card>
          <mat-card-title>Acceso</mat-card-title>
          <mat-card-subtitle>Por favor proporciona los datos de acceso</mat-card-subtitle>
          <mat-card-content>
            <mat-form-field>
              <input matInput placeholder="Usuario" required [(ngModel)]="usr" name="usr" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Contraseña" type="password" [(ngModel)]="pass" name="pass" required>
              </mat-form-field>
            </mat-card-content>
          <mat-card-actions>
            <div layout="row">
              <span flex></span>
              <a mat-raised-button color="primary" fxFlexAlign="end" (click)="login(usr,pass)">Ingresar</a>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </mat-card-content>
</mat-card>