<td-layout-manage-list #manageList [opened]="media.registerQuery('gt-sm') | async" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
[sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
<mat-toolbar td-sidenav-content>
  <span>Administración</span>
</mat-toolbar>
<mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
  <a *ngIf="permisos.ADPE" mat-list-item [routerLink]="[ '/administracion/personal' ]">
    <mat-icon matListIcon>group</mat-icon> Personal
  </a>
  <a *ngIf="permisos.ADNP" mat-list-item [routerLink]="[ '/administracion/personal/nuevo' ]">
    <mat-icon matListIcon>person_add</mat-icon> Nuevo Personal
  </a>
  <a *ngIf="permisos.ADUS" mat-list-item [routerLink]="[ '/administracion/usuarios' ]">
    <mat-icon matListIcon>face</mat-icon> Usuarios
  </a>
  <a *ngIf="permisos.ADRO" mat-list-item [routerLink]="[ '/administracion/roles' ]">
    <mat-icon matListIcon>perm_identity</mat-icon> Roles y Permisos
  </a>
  <a *ngIf="permisos.ADNR" mat-list-item [routerLink]="[ '/administracion/roles/nuevo' ]">
    <mat-icon matListIcon>perm_identity</mat-icon> Nuevo Rol
  </a>
  <a *ngIf="permisos.ADPL" mat-list-item [routerLink]="[ '/administracion/planesEst' ]">
    <mat-icon matListIcon>perm_identity</mat-icon> Plan de Estudios
  </a>
  <a *ngIf="permisos.ADCM" mat-list-item [routerLink]="[ '/administracion/cargaMasiva' ]">
    <mat-icon matListIcon>build</mat-icon> Carga Masiva
  </a>
</mat-nav-list>
<router-outlet></router-outlet>
<td-layout-footer-inner>
  Optional inner footer
</td-layout-footer-inner>
</td-layout-manage-list>