<form>
    <h1 mat-dialog-title>Acción del Plan</h1>
    <div mat-dialog-content layout='column'>
      <p>Define el Plan</p>
      <div flex=100>
        <mat-form-field>
          <input matInput [matDatepicker]="inicio" [(ngModel)]="accion.fecha_inicio" name="accion.fecha_inicio" placeholder="Inicio" required>
          <mat-datepicker-toggle matSuffix [for]="inicio"></mat-datepicker-toggle>
          <mat-datepicker #inicio></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="final" [(ngModel)]="accion.fecha_termino" name="accion.fecha_termino" placeholder="Término" required>
          <mat-datepicker-toggle matSuffix [for]="final"></mat-datepicker-toggle>
          <mat-datepicker #final></mat-datepicker> 
        </mat-form-field>
      </div>
      <div flex=100>
        <mat-form-field style="width:100%">
          <textarea matInput placeholder="Descripción" [(ngModel)]="accion.descripcion" name="accion.descripcion" required></textarea>
        </mat-form-field>
      </div>
      <div flex=100>
        <mat-form-field class="md-block" style="width:100%">
          <textarea matInput [(ngModel)]="accion.objetivo" name="accion.objetivo" placeholder="Objetivo:" required></textarea>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="accion" tabindex="2">Guardar</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>