<td-layout>
  <td-navigation-drawer flex sidenavTitle="ENRJSM" name="Firstname Lastname" email="firstname.lastname@company.com">
    <mat-nav-list>
      <a *ngIf="true" tdLayoutToggle mat-list-item [routerLink]="['/login']">
        <mat-icon>home</mat-icon>Principal
      </a>
      <a *ngIf="permisos.AL" tdLayoutToggle mat-list-item [routerLink]="['/alumnos']">
        <mat-icon>face</mat-icon>Control Escolar
      </a>
      <a *ngIf="permisos.TA" tdLayoutToggle mat-list-item [routerLink]="['/tutoria']">
        <mat-icon>school</mat-icon>Tutorias
      </a>
      <a *ngIf="permisos.EV" tdLayoutToggle mat-list-item [routerLink]="['/evaluacion']">
        <mat-icon>playlist_add_check</mat-icon>Evaluación
      </a>
      <a *ngIf="permisos.RE" tdLayoutToggle mat-list-item [routerLink]="['/reportes']">
        <mat-icon>insert_chart</mat-icon>Reportes
      </a>
      <a *ngIf="permisos.AD" tdLayoutToggle mat-list-item [routerLink]="['/administracion']">
        <mat-icon>security</mat-icon>Administración
      </a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <div *ngFor="let item of usermenu">
          <a mat-list-item>
            <mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
        </div>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
      </button>
      <a [routerLink]="['/']">
        <img src="../assets/enrjsmBanner70.png" alt="logo">
      </a>
      <span [routerLink]="['/']" class="cursor-pointer"> ENRJSM</span>
      <span flex></span>
      <a mat-icon-button *ngIf="true" [routerLink]="['/login']">
        <mat-icon>home</mat-icon>
      </a>
      <a mat-icon-button *ngIf="permisos.AL" [routerLink]="['/alumnos']">
        <mat-icon>face</mat-icon>
      </a>
      <a mat-icon-button *ngIf="permisos.TA" [routerLink]="['/tutoria']">
        <mat-icon>school</mat-icon>
      </a>
      <a mat-icon-button *ngIf="permisos.EV" [routerLink]="['/evaluacion']">
        <mat-icon>playlist_add_check</mat-icon>
      </a>
      <a mat-icon-button *ngIf="permisos.RE" [routerLink]="['/reportes']">
        <mat-icon>insert_chart</mat-icon>
      </a>
      <a mat-icon-button *ngIf="permisos.AD" [routerLink]="['/administracion']">
        <mat-icon>security</mat-icon>
      </a>
    </div>
    <router-outlet></router-outlet>
    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="md-caption">Sistema de Tutotorias y Evaluación - Escuela Normal Rural "Justo Sierra Méndez"</span>
      </div>
    </td-layout-footer>
  </td-layout-nav>
</td-layout>